.App {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto /  auto minmax(200px, 15vw);
}

.header {
  grid-column: 1 / 3;
  padding: 2em;
}

.game-area {
  grid-column: 1 / 2;
  padding: 2em;
}

.side-bar {
  grid-column: 2 / 3;
  background: lightcyan;
  padding: 2em;
}

.hand {
  grid-column: 1/ 3;
  background: lightseagreen;
  padding: 1em;
}